*:root{
    --background-color: #183A4A;
    --number-color: #3D88AE;
    --fizz-color: #61D2A4;
    --fizzbuzz-color: #DE5471;
    --buzz-color: #F9D277;
}

body{
    background-color: var(--background-color);
}
.container{
    height: fit-content;
}
.row{
    height: 120px;
    width: 100%;
}
.col {
    height: 120px;
    width: 120px;
    padding: 2rem;
    background-color: var(--number-color);
    margin: 2rem;
}

.list-item-Fizz{
    background-color: var(--fizz-color);
}
.list-item-Buzz{
    background-color: var(--buzz-color);
}
.list-item-BuzzFizz{
    background-color: var(--fizzbuzz-color);
}
.list-item{
    background-color: var(--number-color);
}