*:root{
    --background-color: #183A4A;
    --number-color: #3D88AE;
    --fizz-color: #61D2A4;
    --fizzbuzz-color: #DE5471;
    --buzz-color: #F9D277;
}

body{
    background-color: var(--background-color);
}

.col {
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: var(--buzz-color);
}